body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

h2 {
    color: #0073aa;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #0073aa;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="file"],
input[type="submit"] {
    margin-top: 10px;
}
