h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond";
}
h2{
  font-size: 34px!important;
  font-weight: 600!important;
}
div.card{
  border:unset!important;
}
div.card-body {
  padding: 1.25rem 0!important;
}
div.card a:hover img.card-img-top{
  opacity: 0.85;
}
.card-text{
font-size: 20px!important;
line-height: normal!important;
}

div.card.category-card a:hover{
  text-decoration: none!important;
}

/* Menu hover override */
#menu-lovenozze-main a:hover {
  text-decoration: line-through !important;
  text-decoration-line: line-through !important;
  text-decoration-style: solid !important;
  text-decoration-color: currentColor !important;
  text-decoration-thickness: auto !important;
}

/* Fix for the grid clear issue affecting footer */
@media only screen and (min-width: 1441px) {
    .qodef-grid.qodef-layout--columns.qodef-col-num--3.qodef-responsive--custom > .qodef-grid-inner > .qodef-grid-item:nth-child(3n+1) {
        clear: none !important;
    }
}

@media only screen and (max-width:980px){
  .borghi-title{
  font-size: 30px!important;
  margin-top: 30px!important;
  }
  #row-selection-index{
        flex-direction: column;
  }
.qodef-mobile-header-opener{
  color:#000!important;
}
}
