# Deny access to all files
<Files *>
    Order deny,allow
    Deny from all
</Files>

# Prevent directory listing
Options -Indexes

# Prevent script execution
<FilesMatch "\.(php|ini|json|config|env)$">
    Order deny,allow
    Deny from all
</FilesMatch>

# Prevent viewing of .htaccess file
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files> 