h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond";
}
h2{
  font-size: 34px!important;
  font-weight: 600!important;
}
div.card{
  border:unset!important;
}
div.card-body {
  padding: 1.25rem 0!important;
}
div.card a:hover img.card-img-top{
  opacity: 0.85;
}
.card-text{
font-size: 20px!important;
line-height: normal!important;
}

div.card.category-card a:hover{
  text-decoration: none!important;
}

/* Menu hover override */
#menu-lovenozze-main a:hover,
#menu-lovenozze-main a:focus,
#menu-lovenozze-main a:active {
  text-decoration: line-through !important;
  text-decoration-line: line-through !important;
  text-decoration-style: solid !important;
  text-decoration-color: currentColor !important;
  text-decoration-thickness: 1px !important;
}
